.repo {
  border: 2px solid;
  border-color:var(--primary-color);
  border-radius: 1rem;
  max-width: 25rem;
}

.content {
  max-width: calc(100vw - 5rem);
}

section{
  width: calc(100vw - 5rem);
}

