<div class="card mb-3" style="max-width: 70%;">
  <div class="row g-0" style="height: 100%">

    <div class="col-md-8 d-flex align-items-center" style="height: 100%;">
      <div class="card-body ">
        <h5 class="card-title">Maksym Donchyk</h5>
        <p class="card-text">
          Pythom Developer with real experience<br/>
          Java senior developer<br/>
          Mom's lover<br/>
          ur bff<br/>

        </p>
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <a href="https://github.com/Medovyha" class="text-decoration-none d-flex align-items-center justify-content-center">
                <div class="link d-flex">
                  <span><i class="pi pi-github" style="font-size: 1rem; margin-right: 5px;"></i></span>
                  <span class="d-block">GitHub</span>
                </div>
              </a>
            </div>

            <div class="col">
              <a href="https://www.linkedin.com/in/maksym-donchyk-b6674b216/" class="text-decoration-none d-flex align-items-center justify-content-center">
                <div class="link d-flex">
                  <span><i class="pi pi-linkedin" style="font-size: 1rem; margin-right: 5px;"></i></span>
                  <span class="d-block">LinkedIn</span>
                </div>
              </a>
            </div>
          </div>
        </div>


      </div>
    </div>

    <div class="col-md-4 avatar d-flex align-items-center">
      <img src="/assets/img/me.jpg" class="mx-auto" alt="...">
    </div>

  </div>
</div>
