<div class="card mb-3" style="max-width: 70%;">
    <div class="row g-0">

        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Maksym Donchyk</h5>
                <div class="card-text">
                    Pythom Developer with real experience<br/>
                    Java senior developer<br/>
                    Mom's lover<br/>
                    ur bff<br/>
                </div>

            </div>
        </div>
        <div class="col-md-4">
            <img src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png" class="img-fluid rounded-start" alt="...">
        </div>
    </div>
</div>
