<div class="content ps-2">

  <div [id]="settings.design.parent.replace('#','')" style="white-space: pre;">

  </div>

  <div class="terminal-input" (click)="openKeyboard()">
    <span style="color: var(--primary-color); font-weight: bold;">{{name}}</span>{{settings.terminal.symbol}}
    <span class="inp">{{sharedData.message}}</span>
    <span class="caret-underscore">{{settings.terminal.cursor}}</span>
  </div>

  <div class="keyboard-input" *ngIf="isMobile || isTablet ">

    <p-button icon="pi pi-pencil" [rounded]="true" *ngIf="!isKeyboardOpen"
              (onClick)="isKeyboardOpen=!isKeyboardOpen"></p-button>

    <p-inputGroup *ngIf="isKeyboardOpen" id="keyboard-input">
      <input type="text" pInputText placeholder="Enter Command" autofocus [(ngModel)]="sharedData.message"/>
      <button type="button" class="keyboard-enter" pButton label="Enter" (click)="onEnter(sharedData.message)"></button>
    </p-inputGroup>
  </div>
  <div class="bottom" id="bottom" *ngIf="!isKeyboardOpen">
    <br>
  </div>
</div>


