.terminal-input {
  width: 100%;
}


.inp {
  border: none;
  outline: none;
  caret-color: transparent;
  white-space: pre-wrap;
}


.caret-underscore {
  color: var(--primary-color);
  animation: blink-caret 0.75s step-end infinite;
  //border-bottom: 2px solid white;
}

.overview {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;
}

.keyboard-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 20px;
  z-index: 999;
  text-align: right;
}

.keyboard-input p-button {
  right: 0;
}

.keyboard-input input {
  background-color: var(--header-background-color);
  color: var(--font-color);
}

::ng-deep {
  .p-button.p-button-outlined {
    color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
  }

  .p-button:focus, ::ng-deep .p-button:enabled:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
}

.keyboard-input p-inputGroup {
  width: 100% !important;
}

/*@media screen and (max-width: 600px) {
  .keyboard-input {
    padding: 10px;
  }
}*/

@keyframes blink-caret {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


