[data-theme="light"] {
  --header-background-color: #E5E5E5;
  --body-background-color: #F3F0EB;


  --primary-color: #106466;
  --error-color: #E62E2E;

  --font-family: "Ubuntu Mono", monospace;
  --font-color: #000000;

  --filter: invert(0)
}

[data-theme="dark"] {
  --header-background-color: #2B2D30;
  --body-background-color: #1E1F22;


  --primary-color: #00B4E1;
  --error-color: #E62E2E;

  --font-family: "Ubuntu Mono", monospace;
  --font-color: #ffffff;

  --filter: invert(1)
}
